.monument-index {
    padding: 1rem;
}

.monument-index h1 {
    color: #8b5e3c;
}

.monument-index p.subtitle {
    margin-top: 5px;
    font-weight: bold;
}

.monument-index .monuments-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}